/* ===== Ch7ヘッダーのスタイル ===== */
.ch7 h1{
  color: #ffffff;
  font-size: 50px;
  font-family: system-ui;
  border-style: solid;
  border-color: #0099ff;
  border-width: 10px;
  text-align: center;
  border-radius: 90px;
  padding: 20px;
  margin: 30px;
  background-color: #000000;
}

header.ch7 {
  height: 550px;
  background-size: cover;
  padding-top: 175px;
  background-image: url(images/IMG_0536.png);
  background-position: center;
}
/* ===== お店紹介のスタイル ===== */
section {
  background-color: #fffff0;
  padding: 32px;
  font-family: system-ui;
}

h2 {
  color: #800000;
  margin-bottom: 24px;
}

h3 {
  color: #ff6e6e
  margin-bottom: 24px:
}

p {
  margin-left: 32px;
  margin-right: 32px;
  font-size: 20px;
  font-family: system-ui;
}
/* ===== Ch7推し紹介のスタイル ===== */
.shop_ch7 {
  background-color: #DDAACC;
  color: #000000;
  padding: 30px;
  border-radius: 10px; /* お好みで */
  display: flex;
  flex-direction: column; /* 縦並びに */
  gap: 20px;
}

.title {
  font-size: 30px;
  border-left: 10px solid #000;
  padding-left: 15px;
  margin-bottom: 10px;
  font-family: system-ui;
}

.shop_ch7 p {
  font-size: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  line-height: 1.6;
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap; /* 折り返し可能に */
}

.shop_ch7 img {
  width: 200px;
  height: auto;
  flex-shrink: 0; /* 縮まらないようにする */
  border-radius: 10px;
}

/* スマホ用 */
@media (max-width: 600px) {
  .shop_ch7 p {
    flex-direction: column;
    align-items: center;
  }

  .shop_ch7 img {
    width: 150px;
  }
}
/* ===== ナビバースタイル ===== */
nav {
  width: 100%;
  height: 70px;
  background-color: dimgray;
}
/* ===== フッターのスタイル ===== */
footer {
  text-align: center;
  background-color: #fffaed;
  color: #000000;
  padding: 10px;
  font-family: system-ui;
}
/* ===== aタグのスタイル ===== :/
a {
    text-decoration: none;
    color: #000000; 
}
/* ===== ロード中のスピナー ===== :/
.loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #555;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 40px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
