/* ===== Ch7ヘッダーのスタイル ===== */
.ch7 h1{
  color: #ffffff;
  font-size: 50px;
  font-family: system-ui;
  border-style: solid;
  border-color: #0099ff;
  border-width: 10px;
  text-align: center;
  border-radius: 90px;
  padding: 20px;
  margin: 100px;
  background-color: #000000;
}

header.ch7 {
  height: 550px;
  background-size: cover;
  padding-top: 175px;
  background-image: url(images/IMG_0536.png);
  background-position: center;
}
/* ===== Discord紹介のスタイル ===== */
section {
  background-color: #fffff0;
  padding: 32px;
  font-family: system-ui;
}

h2 {
  color: #800000;
  margin-bottom: 24px;
}

h3 {
  color: #ff6e6e
  margin-bottom: 24px:
}

p {
  margin-left: 32px;
  margin-right: 32px;
  font-size: 20px;
  font-family: system-ui;
}
